<h1>Shopping Cart</h1>
<div class="col-10" *ngIf="cart$ | async as cart">
    <p>
        <strong>You have {{ cart.totalItemsCount }} items in your shopping cart:</strong>  
        <button 
            id="clear-cart-button"
            *ngIf="cart.items.length" 
            (click)="clearCart()" 
            class="btn btn-light btn-sm">Clear Shopping Cart</button>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center table-right-header">Quantity</th>
                <th class="text-end table-right-header">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td><img class="thumbnail" [src]="item.imageUrl" alt=""></td>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
                </td>
                <td class="text-end">
                    {{ item.totalPrice | currency:'CAD':'symbol'}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-end">
                    {{ cart.totalPrice | currency:'CAD':'symbol'}}
                </th>
            </tr>
        </tfoot>
    </table>
    <a 
        *ngIf="cart.items.length" 
        routerLink="/check-out"
        class="btn btn-primary btn-sm">Check Out</a>
    
</div>
