.table-right-header {
    width: 18rem;
}

.thumbnail {
    width: clamp(10vw, 5rem, 5rem);
    height: clamp(10vw, 5rem, 5rem);
    
    border-radius: 50%;
    object-fit: cover;
}

#shopping-cart {
    margin-top: 2rem;
}

#clear-cart-button {
    margin-left: 1rem;
}

