<div class="horizontal-scroll">
    <div class="list-group list-group-horizontal">
        <a class="list-group-item list-group-item-action category-option" [class.active]="!category" routerLink="/">
            <span>All Categories</span>
        </a>

        <a *ngFor="let c of categories$ | async" class="list-group-item list-group-item-action category-option" routerLink="/"
            [queryParams]="{category: c.key}" [class.active]="category === c.key">
            <span>{{ c.data.name }}</span>
        </a>
    </div>
</div>