.sticky-top {
    top: 4rem;
}

.horizontal-scroll {
    overflow-x: auto;
}


.category-option {
    justify-content: center;
    display: flex;
    align-items: center;
}

.list-group-item {
    border: var(--bs-list-group-border-width) solid rgb(220, 220, 220);
}